{{!
This file is part of Pa11y Dashboard.

Pa11y Dashboard is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Pa11y Dashboard is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Pa11y Dashboard.  If not, see <http://www.gnu.org/licenses/>.
}}

{{#content "title"}}
Add a new URL
{{/content}}

<form role="form" class="col-md-12" action="/trigger-pally-report" method="post" data-test="new-url-form">

	<div class="legend">
		<h1 class="h2 crunch-top">Generate Pally Report for Given Url</h1>
	</div>

	{{#error}}
	<div class="col-md-12 clearfix" data-test="error">
		<div class="alert alert-danger">
			<strong>Oh my gosh!</strong>
			<p>{{.}}</p>
		</div>
	</div>
	{{/error}}

	<div class="form-group clearfix">
		<div class="row">
			<div class="col-md-8 col-sm-8 col-xs-10">
				<label class="control-label" for="new-task-name">URL</label>
				<input class="form-control" id="new-task-name" type="text" required placeholder="E.g. JSON File" name="name"/>
			</div>
		</div>
	</div>
	<button type="submit" class="btn btn-success">Generate Report<span class="glyphicon glyphicon-signal"></span></button>

</form>
